@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutPortalDeTI";
    List<UsuarioDB> usuarios = (List<UsuarioDB>)ViewBag.Usuarios;
    List<ControleDB> controles = (List<ControleDB>)ViewBag.Controles;
    List<AcaoControleDB> permissoes = (List<AcaoControleDB>)ViewBag.Permissoes;
    List<PerfilDB> perfis = (List<PerfilDB>)ViewBag.Perfis;

    var selected = "";


}

@section Styles {
}

<div class="col-12" style="display:flex ;flex-direction:row-reverse; padding-right:25px">
    <div class="col-md-2 col-md-offset-10" style="margin-top:10px; display:flex; float:right">
        <input type="text" class="form-control data-tables-search" placeholder="Pesquisar" />
    </div>
</div>


<nav class="nav nav-tabs nav-justified">
    <a class="nav-item nav-link active" data-toggle="tab" href="#home">Permissões de Usuário</a>
    <a class="nav-item nav-link" data-toggle="tab" href="#perfil">Permissões de Grupo</a>
    @*<a class="nav-item nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
        <a class="nav-item nav-link disabled" data-toggle="tab" href="#menu3">Disabled</a>*@
</nav>

<div class="tab-content">
    <div id="home" class="tab-pane fade show active">
        <h4>
            Usuários
        </h4>
        <div class="col-12" style="text-align:center">
            <table class="table data-tables">
                <thead>
                    <tr>
                        <th>
                            Nome Completo
                        </th>
                        <th>
                            Matricula
                        </th>
                        <th>
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (UsuarioDB item in usuarios)
                    {
                        <tr>
                            <td>
                                <a>
                                    @item.NomeCompleto
                                </a>
                            </td>
                            <td>
                                <a>
                                    @item.Matricula
                                </a>
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#modalPermissoesDeUsuario">
                                    Permissões
                                </a> |
                                <a href="#" data-toggle="modal" data-target="#modalPermissoesDeUsuarioMembros">
                                    Grupos
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalPermissoesDeUsuario" tabindex="-1" role="dialog" aria-labelledby="permissoesDeUsuarioLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content" style="min-height:300px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="permissoesDeUsuarioLabel">Permissões</h5>
                    </div>

                    <div class="modal-body row">
                        <div class="col-12">
                            <select class="form-select form-select mb-3" id="permissionUser" aria-label=".form-select-lg example" onchange="getSelectedPermissionUser()">
                                <option selected disabled>Selecione uma ação</option>
                                @foreach (ControleDB item in controles)
                                {
                                    <option value="@item.DsController" href="#usr-@item.DsController">@item.DsController</option>
                                }
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="tab-content">
                                @foreach (ControleDB controle in controles)
                                {
                                    <div id="usr-@controle.DsController" class="tab-pane fade show usuario-tab-pane">
                                        <div class="form-check">
                                            @foreach (AcaoControleDB permissao in permissoes.Where(w => w.ControleDBId == controle.Id))
                                            {
                                                <div>
                                                    <input class="form-check-input" type="checkbox" value="" id="prm-@permissao.AcaoDBId-@permissao.ControleDBId">
                                                    <label class="form-check-label" for="prm-@permissao.AcaoDBId-@permissao.ControleDBId">
                                                        @permissao.AcaoDB.DsAcao
                                                    </label>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                }

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar alterações</button>
                    </div>
                </div>


            </div>
        </div>

        <div class="modal fade" id="modalPermissoesDeUsuarioMembros" tabindex="-1" role="dialog" aria-labelledby="permissoesDeUsuarioLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content" style="min-height:300px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="permissoesDeUsuarioLabel">Grupos do Membro</h5>
                    </div>

                    <div class="modal-body row">
                        <div class="col-12">

                            @foreach (PerfilDB item in perfis)
                            {
                                <div id="usr-@item.DsPerfil" class="tab-pane fade show">
                                    <div class="form-check">
                                        @foreach (AcaoControleDB permissao in permissoes.Where(w => w.ControleDBId == item.IdPerfil))
                                        {
                                            <div>
                                                <input class="form-check-input" type="checkbox" value="" id="prm-@item.IdPerfil">
                                                <label class="form-check-label" for="prm-@item.IdPerfil">
                                                    @item.DsPerfil
                                                </label>
                                            </div>
                                        }
                                    </div>

                                </div>
                            }

                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar alterações</button>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div id="perfil" class="tab-pane fade show">
        <h4>
            Grupos
        </h4>
        <div class="col-12" style="text-align:center">
            <table class="table data-tables">
                <thead>
                    <tr>
                        <th>
                            Grupo
                        </th>

                        <th>
                            Ações
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PerfilDB item in perfis)
                    {
                        <tr>
                            <td>
                                <a>
                                    @item.DsPerfil
                                </a>
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#modalPermissoesDeGrupo">
                                    Permissões
                                </a> |
                                <a href="#" data-toggle="modal" data-target="#modalPermissoesDeGrupoMembro">
                                    Membros
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalPermissoesDeGrupo" tabindex="-1" role="dialog" aria-labelledby="permissoesDeGrupoLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content" style="min-height:300px">
                    <div class="modal-header">
                        <h5 class="modal-title" id="permissoesDeGrupoLabel">Permissões</h5>
                    </div>

                    <div class="modal-body row">
                        <div class="col-12">
                            <select class="form-select form-select mb-3" id="permissionGroup" aria-label=".form-select-lg example" onchange="getSelectedPermissionGroup()">
                                <option selected disabled>Selecione uma ação</option>
                                @foreach (ControleDB item in controles)
                                {
                                    <option value="@item.DsController" href="#grp-@item.DsController">@item.DsController</option>
                                }
                            </select>

                        </div>
                        <div class="col-12">
                            <div class="tab-content">
                                @foreach (ControleDB controle in controles)
                                {
                                    <div id="grp-@controle.DsController" class="tab-pane fade show grupo-tab-pane">
                                        <div class="form-check">
                                            @foreach (AcaoControleDB permissao in permissoes.Where(w => w.ControleDBId == controle.Id))
                                            {
                                                <div>
                                                    <input class="form-check-input" type="checkbox" value="" id="prm-@permissao.AcaoDBId-@permissao.ControleDBId">
                                                    <label class="form-check-label" for="prm-@permissao.AcaoDBId-@permissao.ControleDBId">
                                                        @permissao.AcaoDB.DsAcao
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar alterações</button>
                    </div>
                </div>


            </div>
        </div>


        <div class="modal fade" id="modalPermissoesDeGrupoMembro" tabindex="-1" role="dialog" aria-labelledby="permissoesDeUsuarioLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content" style="min-height:300px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="permissoesDeUsuarioLabel"> Membros do Grupo</h5>
                    </div>

                    <div class="modal-body">
                        <div class="col-12">


                            <input type="text" class="form-control" />
                            <input type="button" class="form-control btn btn-danger" style="margin-top:3px; margin-bottom:10px" value="Incluir" />

                        </div>
                        <div class="col-12">

                            @foreach (UsuarioDB item in usuarios)

                            {


                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="prm-@item.Id">
                                    <label class="form-check-label" for="prm-@item.Id">
                                        @item.Nome
                                    </label>
                                </div>


                            }

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar alterações</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <!-- 2. GOOGLE JQUERY JS v3.2.1  JS !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- 3. BOOTSTRAP v4.0.0         JS !-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
}

<script>
    function getSelectedPermissionGroup() {
        $(".grupo-tab-pane").removeClass("active");
        var selectedPermissionGroup = document.getElementById("permissionGroup").value;
        console.log(selectedPermissionGroup);
        var newGroupClass = ['#grp-', selectedPermissionGroup].join('');
        $(newGroupClass).addClass("active")
    }

    function getSelectedPermissionUser() {
        $(".usuario-tab-pane").removeClass("active");
        var selectedPermissionUser = document.getElementById("permissionUser").value;
        console.log(selectedPermissionUser);
        var newUserClass = ['#usr-', selectedPermissionUser].join('');
        $(newUserClass).addClass("active")
    }


</script>
