@model PORTAL_DE_TI.Models.NewsDB
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutPortalDeTI";

}
<div class="col-md-12" style="overflow:auto">

    @* Titulo *@
    <div style=" text-align: center; padding: 63px 10px 10px; ">
        <h1 style="color: #0D0D0D; font-size:25px">@Model.Nome</h1>
    </div>
    <div style=" text-align: center; padding: 10px 10px 10px; ">
        <p style="color: #0D0D0D; font-size:20px">@Model.Resenha</p>
    </div>

    @* Imagem Capa *@
    <div style="display:flex; justify-content:center;">
        <div class="col-12" style=" margin:25px 0px 50px; width:75%">
            @*<img src="@Model.CaminhoImg" />*@
            <img style="width:80%" src="~/images/windows-10-chamada_31.jpeg" />
        </div>
    </div>

    <div>


        @* Texto Corpo *@
        
        <span class="form-control">
            <div>
                <p style="color:#0D0D0D; font-size:17px;margin:0 75px 50px">@Model.Texto</p>
            </div>
        </span>

        @* Data criação *@
        <span style="text-align:left; float:right; font-size: 10px">@Model.DataCadastro</span>
    </div>



</div>
