@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutPortalDeTI";

    List<NewsDB> news = (List<NewsDB>)ViewBag.News;
    List<ProcessosDB> processos = (List<ProcessosDB>)ViewBag.Processos;
    List<BannerDB> banner = (List<BannerDB>)ViewBag.Banner;
    List<Banner4DB> banner4 = (List<Banner4DB>)ViewBag.Banner4;
    ResultUserAD infoAD = (ResultUserAD)ViewBag.infoAD;
}
@section Styles {
}

@* Primeira ROW *@
<div class="col-12" style="display:flex ;flex-direction:row-reverse; padding-right:25px">
    <div class="col-md-2 col-md-offset-10" style="margin-top:10px; display:flex; float:right">
        <input type="text" class="form-control" placeholder="Pesquisar" />
    </div>
</div>
<hr>
<div class="row col-12">
    @* Carousel *@
    <div class="col-md-7">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                @foreach (BannerDB indicator in banner)
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@banner.IndexOf(indicator)" class="@(indicator.Id == banner.FirstOrDefault().Id ? "active" : "")" 
                            aria-current="@(indicator.Id == banner.FirstOrDefault().Id ? "true" : "false")">
                    </button>
                }
            </div>
            <div class="carousel-inner">
                @foreach (BannerDB banners in banner)
                {

                    <div class="carousel-item @(banners.Id == banner.FirstOrDefault().Id ? "active" : "" )">
                        <a href="@banners.Link">
                            <img id="banner-@banners.Id" src="@banners.CaminhoImg" class="d-block" style="width:100%; height: 21rem;" alt="...">
                            <div class="carousel-caption d-none d-md-block" style="background:rgba(90, 90, 90, 0.8); width:100%">
                                <h5>@banners.Banner</h5>

                                <p>@banners.BannerDet</p>

                            </div>
                        </a>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    @* Grid *@
    <div class="col-md-5">
        <div class="cards">
            <div class="row " style="height:50%">
                <div class="col-sm-6 no-padding cards-item-left cards-item-top">
                    <a href="@banner4.ToArray()[0].Link"><img src=@banner4.ToArray()[0].CaminhoImg style="height:9.5rem; "></a>
                </div>
                <div class="col-sm-6 no-padding cards-item-right cards-item-top">
                    <a href="@banner4.ToArray()[1].Link"><img src=@banner4.ToArray()[1].CaminhoImg style="height:9.5rem; "></a>
                </div>
            </div>
            <div class="row " style="height:50%">
                <div class="col-sm-6 no-padding cards-item-left cards-item-bottom">
                    <a href="@banner4.ToArray()[2].Link"><img src=@banner4.ToArray()[2].CaminhoImg style="height: 9.5rem;"></a>
                </div>
                <div class="col-sm-6 no-padding cards-item-right cards-item-bottom">
                    <a href="@banner4.ToArray()[3].Link"><img src=@banner4.ToArray()[3].CaminhoImg style="height:9.5rem;"></a>
                </div>
            </div>
        </div>
        <!--center-right-->
    </div><!--/row-->
    <br />
</div>


@* Segunda ROW *@
<div class="row col-12" style="padding-top:15px">
    <!-- center left-->

    <div class="col-md-7" style="margin-top: 10px; height: 100%;">
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true"><a href="/news" style="color:#fff">News and Memos</a></li>

            @foreach (NewsDB item in news)
            {
                <li class="list-group-item ">
                    <a href="/news/@item.Id">
                        <div class="row g-0">
                            <div class="col-md-2 no-padding">
                                <img src="@item.CaminhoImg" class="img-fluid rounded-start" alt="..." style="width:100%">
                            </div>
                            <div class="col-md-9">
                                <h5 class="card-title">
                                    @item.Nome
                                </h5>
                                <p class="card-text">
                                    @item.Resenha
                                </p>
                                <p class="card-text">
                                    @DateTime.Now.ToString("dd/MM/yyyy")
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
            }

        </ul>
    </div><!--/col-->

    <div class="col-md-5" style="margin-top: 10px; height:100%; padding:0 0 0 0">
        <ul class="list-group">
            <li class="list-group-item active" aria-current="true">Processos</li>
            @foreach (ProcessosDB item in processos)
            {
                <li class="list-group-item ">
                    <div class="row g-0">
                        <div class="col-md-9">
                            <h5 class="card-title">
                                @item.Processo
                            </h5>
                            <p class="card-text">
                                @item.Tooltip
                            </p>
                            <p class="card-text">
                                @DateTime.Now.ToString("dd/MM/yyyy")
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div><!--/col-->
    <!--center-right-->

</div><!--/row-->


@section Scripts {
    <script src="~/Content/PortalDeTi/index.js"></script>
}
