@{
    List<MenuDB> listMenu = (List<MenuDB>)ViewData["Menu"];

}

<html lang="en" class="menuitem-active">
<head>
    <meta charset="utf-8">
    <title>Portal de Ti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description">
    <meta content=" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- third party css -->
    <link href="~/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css">
    
    <!-- third party css end -->
    <!-- App css -->

    <link href="~/css/fontawesome.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7986e04c50.js" crossorigin="anonymous">
    </script>

    <link href="~/css/all.css" rel="stylesheet">
    <link href="~/Content/PortalDeTi/main.css" rel="stylesheet" />
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" id="light-style">
    <link href="~/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" disabled="disabled">

    @RenderSection("Styles", required: false)

</head>

<body class="show sidebar-enable" data-layout-config="{&quot;leftSideBarTheme&quot;:&quot;dark&quot;,&quot;layoutBoxed&quot;:false, &quot;leftSidebarCondensed&quot;:false, &quot;leftSidebarScrollable&quot;:false,&quot;darkMode&quot;:false, &quot;showRightSidebarOnStart&quot;: true}" data-leftbar-theme="dark" style="        visibility: visible;
        min-height: 600px;
" data-leftbar-compact-mode="condensed">
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu menuitem-active">
            <!-- LOGO -->
            <a href="/" class="logo text-center logo-light">
                <span class="logo-lg">
                    <div class="logo-lg">
                        <div class="col-12 row logo-lg" style="height:45px">
                            <div class="col-6 logo-lg" style="padding:0; ">
                                <span class="logo-lg" style="float: right">
                                    <img src="~/samples/brain.png" alt="" style="height: 45px;" />
                                </span>
                            </div>
                            <div class="col-6 logo-lg" style="padding:0;">
                                <h5 style="color:white; float:left; padding-top:6px">Portal de TI</h5>
                            </div>
                        </div>
                        <div style="background:#637493; height:25px; margin:0">
                        </div>
                    </div>
                </span>


                <span class="logo-sm" style="height:45px">
                    <img src="~/samples/brain.png" alt="" height="100%" />
                    <div style="background:#637493; height:25px"></div>
                </span>
            </a>

            <div class="h-100 show" id="leftside-menu-container" data-simplebar="init">
                <div class="" style="margin: 0px;">
                    <div class=""><div class=""></div></div><div class="">
                        <div class="" style="right: 0px; bottom: 0px;">
                            <div class="" style="height: 100%; overflow: none; margin-top: 10px">
                                <div class="" style="padding: 0px;">

                                    <!--- Sidemenu -->
                                    <ul class="side-nav">
                                        @foreach (MenuDB menu in listMenu.Where(w => w.IdPai == null))
                                        {
                                            var existe = listMenu.Any(a => a.IdPai == menu.Id);

                                            <li class="side-nav-item menuitem-active" style="color:#4d6184">
                                                <a data-bs-toggle="@(listMenu.Exists(e => e.IdPai == menu.Id) ? "collapse":"" )" style="color:#4d6184" href="@(!existe?menu.Link:$"#menu-{menu.Id}")" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                                                    <i style="color:#4d6184" class="@menu.Icon"></i>
                                                    <span style="color:#4d6184; font-size:18px"> @menu.Nome</span>
                                                    <span style="color:#4d6184; float: right; margin-top:5px" class="@(listMenu.Exists(e => e.IdPai == menu.Id) ? "fas fa-chevron-down":"" )"></span>
                                                </a>
                                                @if (existe)
                                                {
                                                    <div class="collapse" id="menu-@menu.Id">
                                                        <ul class="side-nav-second-level">
                                                            @foreach (MenuDB menuFilho01 in listMenu.Where(w => w.IdPai == menu.Id))
                                                            {
                                                                <li>
                                                                    <a href="@menuFilho01.Link">
                                                                        @menuFilho01.Nome
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }
                                            </li>
                                        }
                                    </ul>

                                    <!-- End Sidebar -->

                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" style="visibility: hidden;">
                    <div class="" style="width: 0px; display: none;">
                    </div>
                </div>
                <div class="" style="visibility: visible;">
                    <div class="" style="transform: translate3d(0px, 0px, 0px); display: block;">
                    </div>
                </div>
            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page" style="padding-bottom: 0 !important">
            <div class="content">
                <!-- Topbar Start -->
                <div class="navbar-custom" style="padding:0 0; margin:0 0">
                    <div id="authentication">
                        <ul class="list-unstyled topbar-menu float-end mb-0" style="margin-top: -10px;">
                            <button style="border: none; color: #313a46; height: 70px; line-height: 70px; width: 60px; background-color: transparent; font-size: 24px; cursor: pointer; float: left; z-index: 1; position: relative; margin-left: -24px;">
                                <i class="fas fa-cog" style="color:white"></i>
                            </button>
                            <li class="dropdown notification-list">
                                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" style="background: transparent !important">
                                    <span class="account-user-avatar">
                                        <img src="images/avatar-1.png" alt="user-image" class="rounded-circle">
                                    </span>
                                    @*<span>
                                            <span class="account-user-name">Dominic Keller</span>
                                            <span class="account-position">Founder</span>
                                        </span>*@
                                </a>
                                <!--<div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown" style="">-->
                                <!-- item-->
                                <!--<div class=" dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome !</h6>
                                </div>-->
                                <!-- item-->
                                <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-account-circle me-1"></i>
                                    <span>My Account</span>
                                </a>-->
                                <!-- item-->
                                <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-account-edit me-1"></i>
                                    <span>Settings</span>
                                </a>-->
                                <!-- item-->
                                <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-lifebuoy me-1"></i>
                                    <span>Support</span>
                                </a>-->
                                <!-- item-->
                                <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-lock-outline me-1"></i>
                                    <span>Lock Screen</span>
                                </a>-->
                                <!-- item-->
                                <!--<a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout me-1"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>-->
                            </li>
                        </ul>
                        <button class="button-menu-mobile open-left" style="padding-left:40px; margin-top: -10px;">
                            <i class="fas fa-bars" style="color:white"></i>
                        </button>
                    </div>

                    <div style="background:#637493; height:25px"></div>


                </div>
                <!-- end Topbar -->
                <!-- Start Content-->
                <div class="container-fluid">
                    @RenderBody()

                </div>
                <!-- container -->

            </div>
            <!-- content -->
            <!--Footer Start-->
            <footer class="footer" style="margin-top:20px;position: sticky; bottom:0 ">
                @*<div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                2021
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-md-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </footer>
        </div>
        <!--end Footer->

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->
    <!-- Right Sidebar -->


    <div class="rightbar-overlay"></div>
    <!-- /End-bar -->
    <!-- bundle -->
    <script src="~/js/vendor.min.js"></script>
    <script src="~/js/app.min.js"></script>

    <!-- third party js -->
    @*<script src="~/js/vendor/apexcharts.min.js"></script>*@
    <script src="~/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/js/vendor/jquery-jvectormap-world-mill-en.js"></script>




    <!-- third party js ends -->
    <!-- demo app -->
    @*<script src="~/js/pages/demo.dashboard.js"></script>*@
    <script src="~/Content/dataTable/datatables.js"></script>
    <script src="~/Content/dataTable/moment.min.js"></script>
    <script src="~/Content/dataTable/datetime-moment.js"></script>
    <script src="~/Content/PortalDeTi/main.js"></script>



    <!-- end demo js-->
    @RenderSection("Scripts", required: false)
    <svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;"><defs id="SvgjsDefs1002"></defs><polyline id="SvgjsPolyline1003" points="0,0"></polyline><path id="SvgjsPath1004" d="M0 0 "></path></svg><div class="daterangepicker ltr single opensright"><div class="ranges"></div><div class="drp-calendar left single" style="display: block;"><div class="calendar-table"></div><div class="calendar-time" style="display: none;"></div></div><div class="drp-calendar right" style="display: none;"><div class="calendar-table"></div><div class="calendar-time" style="display: none;"></div></div><div class="drp-buttons"><span class="drp-selected"></span><button class="cancelBtn btn btn-sm btn-default" type="button">Cancel</button><button class="applyBtn btn btn-sm btn-primary" disabled="disabled" type="button">Apply</button> </div></div><div class="jvectormap-label" style="display: none; left: 1011.34px; top: 715px;">Senegal</div>
</body>
</html>